/** @format */

.GuestInfoTableRow {
  border-bottom: 0.2vh solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 7vh;
}
.GuestInfoTableRow:hover {
  background: rgba(31, 21, 21, 0.2);
}
.copy-btn {
  margin-left: 10px;
  border: 0px;
  cursor: pointer;
  background-color: none;
}
.GuestInfoTableRow p {
  color: #1f1515;
  text-align: center;
  width: 15%;
  font-size: 1.05vw;
}
.GuestInfoTableRow .GuestInfoTableRow-name {
  text-align: left;
}
.GuestInfoTableRow div {
  color: #1f1515;
  text-align: center;
  width: 12%;
  font-size: 1.05vw;
}

.GuestInfoTableRow-id-sec {
  display: flex;
  flex-direction: row;
  justify-content: space;
  align-items: center;
  gap: 1vw;
}
.GuestInfoTableRow-id-sec p {
  width: 50%;
}
.GuestInfoTableRow-id-sec span img {
  width: 1.4vw;
}
/* .GuestInfoTableRow span{
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .GuestInfoTableRow button {
    color: rgba(255, 250, 238, 1);
    background-color: rgba(31, 21, 21, 1);
    border-radius: 3vw;
    align-self: center;
    border: thin solid transparent;
    width: 40%;
    font-size: 1vw;
    font-weight: bold;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
} */
