.assignRoom {
    width: 100%;
    height: 100vh;
    background: url(../../assets/assign-room.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.assignRoom-hue {
    width: 100%;
    height: 100vh;
    background: rgba(31, 21, 21, 0.9);
}
.head {
    height: 10vh;
    width: 100%;
    border-bottom: thin solid ;
}
.assignRoom-body {
    width: 50%;
    margin: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
}
.assignRoom-body-top {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    
}
.assignRoom-body-top h3 {
    font-weight: normal;
    font-size: 1.7vw;
}
.assignRoom-body-top h1 {
    font-size: 4.5vw;
    font-weight: normal;
}
.assignRoom-body-middle {
    height: 20vh;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vw;
}
.assignRoom-body-middle p {
    font-size: 1.7vw;
}
.assignRoom-body-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
}
.assignRoom-body-bottom button{
    width: 80%;
    height: 6vh;
    color: rgba(31, 21, 21, 1);
    border: none;
    border-radius: 0.8vw;
    background-color: rgba(253, 240, 213, 1);
    font-size: 1.3vw;

}