.guestDashBoard {
    background: rgba(31, 21, 21, 1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
}
.guestDashBoard-upper-sec {
    height: 40vh;
    width: 100%;
}
.guestDashBoard-logo {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.guestDashBoard-logo img {
    width: 16vw;

}
.guestDashBoard-profile {
    width: 100%;
    height: 30vh;
    background: rgba(64, 47, 47, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5vh 0;
}
.guestDashBoard-profile h2 {
    font-size: 1.8vw;
    font-weight: normal;
}
.guestDashBoard-profile p {
    font-size: 1vw;
    font-weight: normal;
}
.guestDashBoard-lower-sec {
    height: 60vh;
    width: 100%;
}
.guestDashBoard-lower-sec ul {
    width: 100%;
}
.guestDashBoard-lower-sec ul a {
    width: 100%;
    color:rgba(255, 255, 255, 1);
    display: flex; /* Make the li a flex container */
    align-items: center;
    height: 6vh;
    list-style: none;
}
.guestDashBoard-lower-sec ul a li {
    margin-left: 5vw;
    font-size: 1.4vw;
}
.guestDashBoard-lower-sec ul a:hover {
    background-color: rgba(64, 47, 47, 1);
}





.gdb-profile {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
}
.gdb-profile img {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
}