.registerGuests {
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/booking_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.registerGuests-hue {
    background-color: rgba(31, 21, 21, 0.9);
    width: 100%;
    height: 100vh;
}

.registerGuests-body {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registerGuests-body-content-holder {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}
.registerGuests-body-content-holder h1 {
    font-weight: normal;
    font-size: 4.5vw;
    margin-top: 3vw;
}
.registerGuests-form {
    width: 80%;
    height: 90vh;
}
.registerGuests-form-holder {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    
}
.registerGuests-form-100p {
    width: 100%;
    height: 6vh;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.3vw;
}
.registerGuests-form-100p[type="text"] {
    border-bottom: thin solid rgba(253, 240, 213, 1);
}
.registerGuests-form-100p[type="text"]::placeholder {
    color: rgba(253, 240, 213, 1);
    font-size: 1.3vw;
}
.registerGuests-form-holder label {
    width: 48%;
    height: 3vw;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: thin solid rgba(253, 240, 213, 1);
    font-size: 1.3vw;
}
.registerGuests-form50p {
    width: 60%;
    height: 5vh;
    background-color: transparent;
    outline: none;
    border: none;
    /* border-bottom: thin solid rgba(253, 240, 213, 1); */
    font-size: 1.3vw;
}
.registerGuests-form50p::placeholder {
    color: rgba(253, 240, 213, 1);
    font-size: 1.3vw;

}
.registerGuests-form25p {
    width: 23%;
    height: 6vh; 
    background: rgba(253, 240, 213, 1);
    outline: none;
    border: none;
    color: rgba(31, 21, 21, 1);
    border-radius: 0.5vw;
    font-size: 1.3vw;
}
.registerGuests-form-100p[type="submit"] {
    background: rgba(253, 240, 213, 1);
    color: rgba(31, 21, 21, 1);
    font-size: 1.4vw;
}
.registerGuests-file-label {
    border: thin solid rgba(253, 240, 213, 1);
    /* padding: 1vh 2vw; */
    width: 9vw;
    height: 5vh;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
}

.registerGuests-passport {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    border-bottom: 0.2vh solid rgba(253, 240, 213, 1);
}
.registerGuests-passport label {
    width: 30%;
    height: 4.5vh;
    border: 0.2vh solid rgba(253, 240, 213, 1);
}
.registerGuests-passport span {

}
.registerGuests-mobile-head {
    display: none;
}

@media (max-width: 650px) {
    .registerGuests-form-holder {
        flex-direction: column;
        
    }
    .registerGuests-head {
        display: none;
    }
    .registerGuests-mobile-head {
        display: block;
    }
    .registerGuests-body-content-holder h1 {
        margin-top: 7vh;
    }
    .registerGuests-form50p {
        /* width: 100%; */
        
        /* font-size: 3vw; */
    }
    .registerGuests-body-content-holder {
        
    }
    .registerGuests-form {
        
    }
    .registerGuests-form-holder {
        
    }
}

@media (max-width: 650px) {
    .registerGuests-form50p {
        /* height: 10vh; */
        /* width: ; */
    }
    .registerGuests-form-holder label {
        width: 100%;
        
    }
    .registerGuests {
        height: auto;
    }
    .registerGuests-hue {
        height: auto;
    }
    .registerGuests-body-content-holder {
        height: auto;
    }
    .registerGuests-form {
        height: auto;
    }
    .registerGuests-form-holder {
        /* height: 10vh; */
        padding: 2vh 0;
    }
}